ip: 192.168.10.10
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: /[path to price-notifier]/price-notifier
        to: /home/vagrant/code
sites:
    -
        map: price.test
        to: /home/vagrant/code/public
databases:
    - price
features:
    -
        mysql: true
    -
        mariadb: false
    -
        postgresql: false
    -
        ohmyzsh: true
    -
        webdriver: false
name: price-notifier
hostname: price-notifier
